@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 218 70% 95%;
    --foreground: 218 5% 10%;
    --card: 218 50% 90%;
    --card-foreground: 218 5% 15%;
    --popover: 218 70% 95%;
    --popover-foreground: 218 95% 10%;
    --primary: 218 100% 62%;
    --primary-foreground: 0 0% 0%;
    --secondary: 218 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 180 30% 85%;
    --muted-foreground: 218 5% 35%;
    --accent: 180 30% 80%;
    --accent-foreground: 218 5% 15%;
    --destructive: 0 70% 30%;
    --destructive-foreground: 218 5% 90%;
    --border: 218 30% 50%;
    --input: 218 30% 28%;
    --ring: 218 100% 62%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 218 50% 10%;
    --foreground: 218 5% 90%;
    --card: 218 50% 10%;
    --card-foreground: 218 5% 90%;
    --popover: 218 50% 5%;
    --popover-foreground: 218 5% 90%;
    --primary: 218 100% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 180 30% 25%;
    --muted-foreground: 218 5% 65%;
    --accent: 180 30% 25%;
    --accent-foreground: 218 5% 90%;
    --destructive: 0 58% 50%;
    --destructive-foreground: 218 5% 90%;
    --border: 218 30% 50%;
    --input: 218 30% 50%;
    --ring: 218 100% 31%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}